
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<title>Books grid</title>
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />

<div id="preHeader" class="text-center">
    <p>Welcome to the best site of books,we hope that you will find suitable book for you</p>
</div>
<div  id="indexContainer">
    <div id="AddBook">
        <form id="AddBookForm" name="AddBook" action="/Books/AddBook">
            @Html.EditorForModel("Book")
            <input id="SubmitBook" type="submit" value="Add book" />
        </form>
    </div>
    <div>
        <div id="Loading">
            <h1>Please wait loading...</h1>
        </div>
        <div id="NoResults">

        </div>
        <div id="BooksContainer">

        </div>
    </div>
    <div id="About">
        <h1>About:</h1>
        <p>
            Amazon (Amazon.com) is the world’s largest online retailer and a prominent
            cloud services provider.
        </p>
        <p>
            The company was originally a book seller but has expanded to sell a wide variety
            of consumer goods and digital media as well as its own electronic devices, such
            as the Kindle e-book reader, Kindle Fire tablet and Fire TV, a streaming media
            adapter.
        </p>
        <p>
            Amazon Web Services(AWS) is a comprehensive, evolving cloud computing platform.
            The first AWS offerings were launched in 2006 to provide online services for
            websites and client-side applications. Amazon’s Elastic Compute Cloud (EC2) and
            Simple Storage Service (S3) are the backbone of the company’s large and growing
            collection of Web services.
        </p>
        <p>
            Jeff Bezos incorporated the company as Cadabra in 1994 but changed the name to
            Amazon for the website launch in 1995. Bezos is said to have browsed a dictionary
            for a word beginning with “A” for the value of alphabetic placement.
            He selected the name Amazon because it was “exotic and different” and as a
            reference to his plan for the company’s size to reflect that of the Amazon River,
            one of the largest rivers in the world.
        </p>
        <p>
            Amazon is headquartered in Seattle, Washington. The company has individual
            websites, software development centers, customer service centers and fulfillment
            centers in many locations around the world.
        </p>
    </div>

    <div id="Contacts">
        <div><h4>Email:</h4><a href="https://mail.google.com/mail/u/0/#inbox">inimicos471@gmail.com</a></div>
        <div><h4>Phone:</h4><p>555-555-555</p></div>
        <div><h4>City:</h4><p>Kiev</p></div>
        <div><h4>Adress:</h4><p>Fiskulturi 6 st</p></div>
        <div id="canvas"></div>
    </div>
</div>
