
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<html>
<head>
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
   
</div>
</body>
</html>

